* {
    box-sizing: border-box;
}
@import "tailwindcss";
@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: theme('width.2');
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        margin-top: var(m-2);
        margin-bottom: var(m-2);
        background: var(gray-300);
        border-radius: var(rounded-sm);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: var(gray-500);
        border-radius: var(rounded-sm);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: var(gray-600);
        border-radius: var(rounded-sm);
    }
}
